.container{
    display:flex;
    background: rgb(77,71,186);
    background: linear-gradient(45deg, rgba(77,71,186,1) 0%, rgba(20,20,139,1) 100%, rgba(0,212,255,1) 100%);
    padding: 1rem;
    border-radius: 10px;
    color: white;
}